@model DilListeleViewModel

@{
    ViewData["Title"] = "Dil Listeleme Ekranı";
}

<h1>Diller</h1>
<div class="text-right mb-1">
    <a class="btn btn-sm btn-info" asp-controller="Dil" asp-action="Ekle"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Dil Ekle</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Ad</th>
            <th>Anahtar</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Diller == null || !Model.Diller.Any())
        {
            <tr><td colspan="5">Kayıtlı Dil yoktur.</td></tr>
        }
        else
        {
            @foreach (var item in Model.Diller)
            {
                <tr>
                    <td>@(item.Id)</td>
                    <td>@(item.Ad)</td>
                    <td>@(item.Anahtar)</td>
                    <td>@(item.Aciklama)</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-controller="Dil" asp-action="Guncelle" asp-route-id="@(item.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a class="btn btn-sm btn-danger" asp-controller="Dil" asp-action="Sil" asp-route-id="@(item.Id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
